@use '../../index.scss' as *;

.edit-button {
  cursor: pointer;
  background: none;
  border: none;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 20px;
  right: 20px;

  svg {
    color: $disabled-color
  }
}
