@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap");

:root {
  --primary-color: #87bdd8;
  --secondary-color: #cfe0e8;
  --background-color: #f4f4f4;
  --text-color: #333;
  --disabled-color: #ccc;
}

* {
  margin: 0;
  padding: 0;
}

html {
  font-family: "Open Sans", sans-serif;
  color: var(--text-color);
  background-color: var(--background-color);
}
